<h2>User login</h2>
<div style="color:red; font-size: 11px;">
<?php
$sessionLogin = new Zend_Session_Namespace();
if($sessionLogin->isloginError)
echo "Invalid User Name and Password";
  ?>
</div>
<form id="form" action="<?php echo $this->baseUrl().'/'. $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
<?php echo $this->form->username; ?>
  <?php echo $this->form->password; ?>
<div class="item-list">
        <ul>
          <li class="first"><a href="Users/login/registration" title="Create a new user account.">Create new account</a></li>
          <li class="last"><a href="user/password" title="Request new password via e-mail.">Request new password</a></li>
        </ul>
      </div>

<?php echo $this->form->submit; ?>