<?php

    $this->headLink()->appendStylesheet($this->baseUrl() . '/css/style.css')
        ->appendStylesheet($this->baseUrl() . '/css/layout.css')
        ->appendStylesheet($this->baseUrl() . '/css/system.theme.css')
        ->appendStylesheet($this->baseUrl() . '/css/system.base.css')
        ->appendStylesheet($this->baseUrl() . '/css/color.css');
    echo $this->headLink();

    echo $this->jQuery()
              ->setVersion('1.10.1')
              ->setUiVersion('1.10.1')
              ->enable()
              ->uiEnable();
    ?>
<h2>User Signup</h2>
<div style="color:red; font-size: 11px;">
<?php
$sessionLogin = new Zend_Session_Namespace();
if($sessionLogin->isloginError)
echo "Invalid User Name and Password";
  ?>
</div>
<form id="form" action="<?php echo $this->baseUrl().'/'. $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
 <div class="column" id="content">
   <div class="section">
<table>
  <tbody>
    <tr>
      <th>Username :</th><td> <?php echo $this->form->username;?> </td>
    </tr>
    <tr>
      <th>Password :</th><td><?php echo $this->form->password; ?></td>
    </tr>
    <tr>
      <th>Confirm Password:</th><td><?php echo $this->form->cpassword; ?></td>
    </tr>
    <tr>
      <th>Email Address:</th><td><?php echo $this->form->email; ?></td>
    </tr>
  </tbody>
</table>
  <?php echo $this->form->captcha; ?>
  <?php echo $this->form->submit; ?>
  </div>
</div>
  </form>