
<div class="section clearfix">
     <a id="logo" rel="home" title="Home" href="/OnlineExamination/public/">
         <img alt="Home" src="<?php echo $this->baseUrl();?>/images/logo.png">
      </a>
<div id="name-and-slogan">
               <h1 id="site-name">
               <a rel="home" title="Home" href=""><span></span></a>
            </h1>
</div> <!-- /#name-and-slogan -->
<div class="navigation" id="main-menu">
 <?php echo $this->render('menu.phtml'); ?>
</div><!-- /#main-menu -->
<div class="navigation" id="secondary-menu">
  <?php echo $this->render('menu-secondary.phtml'); ?>
</div><!-- /#secondary-menu -->
</div>
